.container1 {
    border: 3px solid lightgray;
    display: flex;
    height: 300px;
    align-items: flex-start;
}

.container2 {
    border: 3px solid lightgray;
    display: flex;
    height: 300px;
    align-items: flex-end;
}

.container3 {
    border: 3px solid lightgray;
    display: flex;
    height: 300px;
    align-items: center;
}

.container4 {
    border: 3px solid lightgray;
    display: flex;
    height: 300px;
    align-items: stretch;
}

.container5 {
    border: 3px solid lightgray;
    display: flex;
    height: 300px;
    align-items: baseline;
}


.flex-item {
    columns: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item1 {
    background-color: lightpink;
    padding-bottom: 3rem;
}

.item2 {
    background-color: lightsalmon;
    padding-top: 6rem;
}

.item3 {
    background-color: lightyellow;
    padding-top: 9rem;
}

.item4 {
    background-color: lightgreen;
}