.video-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

.video-grid:hover {
    cursor: pointer;
}

@media (max-width: 699px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) and (max-width: 1130px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1131px) and (max-width: 1600px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1601px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.video-time {
    position: absolute;
    bottom: 7px;
    right: 3px;
    font-size: 13.5px;
    font-weight: 500;
    padding: 2px;
    border-radius: 4px;
    background-color: black;
    opacity: 85%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-author {
    margin-bottom: 4px;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    font-size: 14px;
    color: #AAAAAA;
    margin-top: -1.5px;
}